{% extends 'useradmin/base.html' %}
{% load static %}

{% block content %}
<section class="content-main">
    <div class="content-header">
        
        <div>
            <h2 class="content-title card-title">Order detail</h2>
            <p>Details for Order ID: 3453012</p>
        </div>
    </div>
    <div class="card">
        <header class="card-header">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6 mb-lg-0 mb-15">
                    <span> <i class="material-icons md-calendar_today"></i> <b>{{order.order_date}}</b> </span> <br />
                    <small class="text-muted">Order ID: {{order.oid}}</small>
                </div>
                <form method="POST" action="{% url 'useradmin:update-order-status' order.oid %}" class="col-lg-6 col-md-6 ms-auto text-md-end">
                    {% csrf_token %}
                    <label for="status" class="pe-3">Change Order Status </label>
                    <select name="status" class="form-select d-inline-block mb-lg-0 mr-5 mw-200">                        
                        <option value="processing" {% if order.product_status == "processing" %}selected{% endif %}>Processing</option>
                        <option value="shipped" {% if order.product_status == "shipped" %}selected{% endif %}>Shipped</option>
                        <option value="delivered" {% if order.product_status == "delivered" %}selected{% endif %}>Delivered</option>
                    </select>
                    <button type="submit" class="btn btn-primary" >Save</a>
                </div>
            </div>
        </header>
        <!-- card-header end// -->
        <div class="card-body">
            <div class="row mb-50 mt-20 order-info-wrap">
                <div class="col-md-4">
                    <article class="icontext align-items-start">
                        <span class="icon icon-sm rounded-circle bg-primary-light">
                            <i class="text-primary material-icons md-person"></i>
                        </span>
                        <div class="text">
                            <h6 class="mb-1">Customer</h6>
                            <p class="mb-1">
                                {{order.full_name}} <br />
                                {{order.email}} <br />
                                {{order.phone}}
                            </p>
                        </div>
                    </article>
                </div>
                <!-- col// -->
                <div class="col-md-4">
                    <article class="icontext align-items-start">
                        <span class="icon icon-sm rounded-circle bg-primary-light">
                            <i class="text-primary material-icons md-local_shipping"></i>
                        </span>
                        <div class="text">
                            <h6 class="mb-1">Order info</h6>
                            <p class="mb-1">
                                Shipping Method: Fargo express <br />
                                Order Id: #{{order.oid}} <br>
                                Order Status: {{order.status}} <br>
                                Payment Status: {% if order.paid_status %}Paid{% else %}Unpaid{% endif %}
                            </p>
                        </div>
                    </article>
                </div>
                <!-- col// -->
                <div class="col-md-4">
                    <article class="icontext align-items-start">
                        <span class="icon icon-sm rounded-circle bg-primary-light">
                            <i class="text-primary material-icons md-place"></i>
                        </span>
                        <div class="text">
                            <h6 class="mb-1">Deliver to</h6>
                            <p class="mb-1">
                                Address: {{order.address}}<br />
                                City: {{order.city}} <br />
                                State: {{order.state}}<br />
                                Country: {{order.country}}
                            </p>
                        </div>
                    </article>
                </div>
                <!-- col// -->
            </div>
            <!-- row // -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th width="40%">Product</th>
                                    <th width="20%">Unit Price</th>
                                    <th width="20%">Quantity</th>
                                    <th width="20%" class="text-end">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in items %}
                                    <tr>
                                        <td>
                                            <a class="itemside" href="">
                                                <div class="left">
                                                    <img src="{{item.image}}" width="100" height="100" style="object-fit: cover;" class="img-xs" alt="Item" />
                                                </div>
                                                <div class="info">{{item.item}}</div>
                                            </a>
                                        </td>
                                        <td>${{item.price|floatformat:2}}</td>
                                        <td>{{item.quantity}}</td>
                                        <td class="text-end">${{item.total|floatformat:2}}</td>
                                    </tr>
                                {% endfor%}
                                <tr>
                                    <td colspan="4">
                                        <article class="float-end">
                                            <dl class="dlist">
                                                <dt>Discount:</dt>
                                                <dd>${{order.saved|floatformat:2}}</dd>
                                            </dl>
                                            <dl class="dlist">
                                                <dt>Subtotal:</dt>
                                                <dd>${{order.price|floatformat:2}}</dd>
                                            </dl>
                                            <dl class="dlist">
                                                <dt>Tax:</dt>
                                                <dd>$0</dd>
                                            </dl>
                                            <dl class="dlist">
                                                <dt>Shipping cost:</dt>
                                                <dd>$0</dd>
                                            </dl>
                                            <dl class="dlist">
                                                <dt>Grand total:</dt>
                                                <dd><b class="h5">${{order.price|floatformat:2}}</b></dd>
                                            </dl>
                                            <dl class="dlist">
                                                <dt class="text-muted">Status:</dt>
                                                <dd>
                                                    <span class="badge rounded-pill alert-success text-success">Payment done</span>
                                                </dd>
                                            </dl>
                                        </article>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}